.symbolButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8rem; /* Tamaño del icono */
    color: #4b5563; /* Color base */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .symbolButton:hover {
    background-color: #f0f0f0;
  }
  