.recuadro-ventas {
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 16px;
    padding: 1.5rem;
    width: auto;
    max-width: 100%;
    height: 75%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .titulo-ventas {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--foreground);
    margin-bottom: 1rem;
    text-align: center;
  }
  

  
  .btn-registrar-venta {
    background-color: #8cc2c0; /* BOTÓN DE REGISTRAR VENTA DEL MES */
    color: white;
    padding: 0.6rem 1.25rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    display: inline-block;
    margin-top: 0.75rem;
  }
  
  .btn-registrar-venta:hover {
    background-color: #9cbebd;
  }
  
  .dc-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(191, 176, 176, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .dc-popup-inner {
    background-color: #294342;
    color: var(--foreground);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 213, 255, 0.2);
    min-width: 300px;
  }
  
  .dc-popup-inner input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    color: inherit;
  }
  
  .dc-popup-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .dc-popup-buttons button {
    flex: 1;
    margin: 0 0.25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .dc-popup-buttons button:first-child {
    background-color: #317500;
    color: white;
  }
  
  .dc-popup-buttons button:last-child {
    background-color: #b90000;
    color: white;
  }
  
  body.dark .recuadro-ventas {
    background-color: #263238;
    color: var(--foreground);
  }
  