.header-mini {
  background-color: #8cc2c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 5%;
  color: #1e1e1e;
  font-family: 'Georgia', serif;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo img {
  height: 100px;
  width:  100px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links a {
  color: #1e1e1e;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  color: white;
  transform: translateY(-1px);
  text-decoration: underline;
}

.nav-links .active {
  color: white;
  text-decoration: underline;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.user-popup {
  position: absolute;
  top: 3rem;
  right: 0;
  background: white;
  color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  z-index: 10;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
